# Not in image
.env*
assets/*
files/*
src/packages/database/.generated/*
node_modules/*

###########################################################################

# Override
!.env.prod
!files/.gitkeep
!assets/.gitkeep
!files/ai/*
!src/packages/database/.generated/migrations/*