#################################
#          Not in image         #
#################################
# env
.env*
# deps / generated
node_modules/
src/packages/database/.generated/
# assets + files (ignore all by default)
assets/**
files/**

#################################
#           overrides           #
#################################
# allow prod env
!.env.prod
# keep empty dirs
!assets/.gitkeep
!files/.gitkeep
# allow everything inside files (needed for runtime)
!files/**